@import url('./theme/theme.css');

.contactSection {
  margin-top: 15em;
}

.contactHeading {
  text-align: right;
  color: #fff;
  margin: 0 auto;
  display: block;
  font-size: 10em;
}

.contactImgDiv {
  margin-left: 14em;
}

.verticalHeading {
  position: relative;
  float: left;
  top: 4em;
  right: 3em;
  transform: rotate(-90deg);
  font-size: 7em;
  text-align: center;
}

/* form styles */

.formContainer {
  position: relative;
  width: 55%;
  float: right;
  background-color: var(--modalBg);
  padding: 4em;
  z-index: 3;
  margin-top: -28em;
  margin-bottom: 23em;
}

.form-group {
  margin-bottom: 3em;
}

.form-control,
.textarea.form-control {
  background-color: transparent !important;
  border-color: white;
  color: white;
}

.form-control::placeholder {
  color: white !important;
}

.textarea.form-control:placeholder-shown {
  color: white !important;
}

.contactBtn,
.contactBtn:hover {
  background-color: transparent;
  border: 1px solid var(--mainColor);
}

.contactDesc {
  color: white;
  padding-bottom: 10px;
}

/* ------------ RESPONSIVE ---------- */

/* Mobile */
@media only screen and (min-width: 0) and (max-width: 576px) {
  .contactSection {
    margin-top: 0em;
  }
  .contactHeading {
    font-size: 4rem;
  }
  .contactImgDiv {
    margin-left: 1rem;
    margin-top: -1rem;
  }
  .contactImg {
    height: auto;
    width: 100%;
  }
  .formContainer {
    width: 67%;
    padding: 3em;
    margin-top: -12em;
    margin-bottom: 6em;
  }
  .contactHeading {
    font-size: 2rem;
    right: 1rem;
  }
  .verticalHeading {
    top: 15rem;
  }
}

/* Tablet */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .contactHeading {
    font-size: 4rem;
    right: 11rem;
    top: 25rem;
  }
  .contactHeading {
    font-size: 7rem;
  }
  .contactSection {
    margin-top: 5em;
  }

  .formContainer {
    margin-top: -42em;
    width: 58%;
  }
}

/* Desktop */
@media only screen and (min-width: 993px) and (max-width: 1300px) {
  .contactSection {
    margin-top: 4rem;
  }
}
