@import url('./theme/theme.css');

.projectsSection {
  padding-top: 10em;
}

.modalOpen {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.projectMission {
  max-width: 1303px;
  display: block;
  margin: 8em auto;
  padding-inline: 6em;
}

.missionText {
  margin-left: -0.5em;
}

.projectsHeading {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 10em;
}

/* Project gallery styles */

.gallerySection {
  margin-bottom: 10em;
  scroll-behavior: smooth;
}

.carousel {
  position: relative;
  z-index: 1;
  height: 120vh;
}

.carousel-item {
  --items: 10;
  --width: clamp(150px, 30vw, 300px);
  --height: clamp(200px, 40vw, 400px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: 30rem;
  height: 40rem;
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 25px;
  top: 50%;
  left: 50%;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}

.carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
  font-family: 'Orelo-sw-db', serif;
}

.carousel-box:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5)
  );
}

.detailsLink {
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 3vw, 30px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 11.2px;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  font-weight: normal;
}

.detailsLink:hover {
  cursor: pointer;
  text-decoration: none;
  /* text-decoration-color: var(--mainColor); */
  color: white;
}

.projectName {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 10vw, 50px);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.box {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: #fff;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 9px;
  line-height: 1.4;
  text-transform: uppercase;
  opacity: 0.4;
}

.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;

  @media (pointer: fine) {
    display: block;
  }
}

.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}

/* project modal */

body.modal-open {
  overflow: hidden !important;
}

.modalContainer {
  margin: 0;
  padding: 0 !important ;
}

.closeBtn {
  padding-right: 10px;
}

.modalDiv {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  z-index: 999;
}

.modalWrapper {
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  height: 100%;
  overflow: scroll;
}

.modalContent {
  height: auto;
  width: 100%;
  overflow: scroll;
}

input {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}

.overlay label {
  width: 58px;
  height: 58px;
  position: absolute;
  right: 20px;
  top: 20px;
  background: url('https://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png');
  z-index: 100;
  cursor: pointer;
}

.lower ~ .overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked ~ .overlay-hugeinc {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#op:checked ~ .overlay-hugeinc nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

#op:not(:checked) ~ .overlay-hugeinc nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

#owrap {
  /*  HIDDEN BY DEFAULT */
  transition: opacity 0.2s;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

/*  SHOW */
#owrap.show {
  visibility: visible;
  opacity: 1;
}

/* Modal contents  */

.projectModal {
  background-color: grey;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  z-index: 999;
  width: 100%;
  max-width: 100%;
}

.closeBtn {
  position: relative;
  color: var(--mainColor);
  border-radius: 50%;
  padding: 1em 1.2em;
  font-size: 1em;
  left: 85%;
  z-index: 2;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.closeBtn:hover {
  background-color: var(--redBackground);
  color: white;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay .active {
  opacity: 1;
  pointer-events: all;
}

/* Products section*/

.productsSection {
  padding-top: 12em;
}

.productsGrid {
  margin: 0 auto;
  max-width: 1400px;
}

.productCardDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  column-gap: 1%;
}

/* Products flip cards */
/* .flip-card-container */
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 310px;
  height: 500px;
  margin: 40px;

  perspective: 1000px;
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s 0.1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
.imgCard {
  z-index: -1;
}

/* figure, .img-bg */
.imgCard,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* img */
.img {
  height: 100%;
  border-radius: 24px;
}

/* figcaption */
.cardLabel {
  display: block;
  width: auto;
  margin-top: 12%;
  padding: 8px 22px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 12px;
  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, 0.5);
}

/* .img-bg */
.img-bg {
  background: hsla(var(--hue), 25%, 10%, 0.5);
}

.card-front .img-bg {
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
  content: '';
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);
  width: 100%;
  height: 6px;
  border: 1px solid var(--mainColor);
  border-left-color: transparent;
  border-right-color: transparent;
  transition: 0.1s;
}

.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

.img-bg {
  background-color: hsla(var(--hue), 25%, 10%, 0.5);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--mainColor);
  border-right-color: var(--mainColor);
}

/* ul */
.cardDetails {
  padding-top: 50%;
  margin: 0 auto;
  width: 70%;
  height: 100%;

  list-style: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* li */
.cardDetailSingle {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  text-align: center;

  position: relative;
}

.cardDetailSingle:nth-child(2n) {
  color: var(--white-2);
}

.cardDetailSingle:not(:last-child)::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: 0.2;
}

/* button */
.bookBtn {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  color: var(--white-1);
  letter-spacing: 2px;
  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.bookBtn:hover,
.bookBtn:focus {
  color: var(--mainColor);
  background: hsla(var(--hue), 25%, 10%, 0.2);
  border-color: currentColor;
}

.bookBtn:active {
  transform: translate(2px);
}

/* .design-container */
.design-container {
  --tr: 90;
  --op: 0.5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

/* .design */
.design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: 0.3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
  width: 1px;
  height: 100%;
}

.design--1,
.design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--1 {
  left: 20%;
}

.design--2 {
  left: 80%;
}

.design--3,
.design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%));
}

.design--3 {
  left: 24%;
}

.design--4 {
  left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

.design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
  top: 41%;
}

.design--6 {
  top: 59%;
}

.design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%));
}

.design--7 {
  top: 44%;
}

.design--8 {
  top: 56%;
}

/* states */
.bookBtn:hover + .design-container,
.bookBtn:active + .design-container,
.bookBtn:focus + .design-container {
  --tr: 20;
  --op: 0.7;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
}

/* //////////////////////////////// */

/* ------------ RESPONSIVE ---------- */

/* Mobile */
@media only screen and (min-width: 0) and (max-width: 576px) {
  .projectsSection {
    padding-top: 0;
    margin-top: -5em;
  }
  .projectMission {
    margin: 11em;
  }
  .projectsHeading {
    margin: 2em auto;
    font-size: 4rem;
  }
  .gallerySection {
    margin-top: -47rem;
  }
  .productsSection {
    margin-top: -19em;
    padding-top: 0;
  }
  .productCardDiv {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablet */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .projectMission {
    margin: 11em;
  }
  .projectsHeading {
    margin: -1em auto 1em auto;
    font-size: 8rem;
  }
  .gallerySection {
    margin-top: -34em;
    margin-bottom: 0;
  }
  .flip-card-container {
    margin: 40px 25px;
  }
  .productCardDiv {
    grid-template-columns: repeat(auto-fit, minmax(289px, 1fr));
    column-gap: 5%;
  }
}

/* Desktop */
@media only screen and (min-width: 993px) and (max-width: 1300px) {
  .projectMission {
    margin: 8em 0 0 9em;
  }
}
