.projectsSection {
  padding-top: 10em;
}

.modalOpen {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.projectMission {
  margin: 8em 0 8em 4em;
}

.projectsHeading {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 10em;
}

/* Project gallery styles */

.gallerySection {
  margin-bottom: 10em;
}

.carousel {
  position: relative;
  z-index: 1;
  height: 120vh;
}

.carousel-item {
  --items: 10;
  --width: clamp(150px, 30vw, 300px);
  --height: clamp(200px, 40vw, 400px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: 30rem;
  height: 40rem;
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}

.carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
  font-family: 'Orelo-sw-db', serif;
}

.carousel-box:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5)
  );
}

.detailsLink {
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 3vw, 30px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 11.2px;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  font-weight: normal;
}

.detailsLink:hover {
  cursor: pointer;
  text-decoration: none;
  /* text-decoration-color: var(--mainColor); */
  color: white;
}

.projectName {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 10vw, 50px);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.layout {
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* .layout:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 90px;
  width: 10px;
  height: 100%;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  opacity: 0.15;
} */

.box {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: #fff;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 9px;
  line-height: 1.4;
  text-transform: uppercase;
  opacity: 0.4;
}

.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;

  @media (pointer: fine) {
    display: block;
  }
}

.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}

/* project modal */

body.modal-open {
  overflow: hidden !important;
}

.modalContainer {
  margin: 0;
  padding: 0 !important ;
}

.closeBtn {
  padding-right: 10px;
}

.modalDiv {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  z-index: 999;
}

.modalWrapper {
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  height: 100%;
  overflow: scroll;
}

.modalContent {
  height: auto;
  width: 100%;
  overflow: scroll;
}

input {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}

.overlay label {
  width: 58px;
  height: 58px;
  position: absolute;
  right: 20px;
  top: 20px;
  background: url('https://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png');
  z-index: 100;
  cursor: pointer;
}

.lower ~ .overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked ~ .overlay-hugeinc {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#op:checked ~ .overlay-hugeinc nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

#op:not(:checked) ~ .overlay-hugeinc nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

#owrap {
  /*  HIDDEN BY DEFAULT */
  transition: opacity 0.2s;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

/*  SHOW */
#owrap.show {
  visibility: visible;
  opacity: 1;
}

/* Modal contents  */

.projectModal {
  background-color: grey;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  z-index: 999;
  width: 100%;
  max-width: 100%;
}

.closeBtn {
  position: relative;
  color: var(--mainColor);
  border-radius: 50%;
  padding: 1em 1.2em;
  font-size: 1em;
  left: 85%;
  z-index: 2;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.closeBtn:hover {
  background-color: var(--redBackground);
  color: white;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay .active {
  opacity: 1;
  pointer-events: all;
}

/* Products section*/

.productsSection {
  padding-top: 12em;
}

/* Media queries */

@media screen and (max-width: 600px) {
  .projectMission {
    margin: 5em 1em;
  }
  .projectsHeading {
    margin: 2em auto;
    font-size: 4rem;
  }
  .gallerySection {
    margin-top: -26rem;
  }
}
