@import url('./theme/theme.css');

.modalLayout,
.modalBrand {
  background-color: var(--modalBg);
}

.verticalTitle {
  color: var(--iconColor) !important;
}

.content {
  padding-top: 3em;
  padding-left: 7em;
}

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10em auto;
  max-width: 1400px;
}

.timeline__event {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 25.5em;
  border-radius: 6px;
  align-self: left;
  width: 50%;
}

.projectImg {
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  position: relative;
  border: 2px solid white;
  border-radius: 21px;
}

.mainProjectImg {
  left: 10%;
  height: clamp(200px, 44vw, 40em);
  width: clamp(150px, 40vw, 45em);
  z-index: 5;
  object-fit: cover;
}

.secondImg {
  height: clamp(200px, 43vw, 40em);
  width: clamp(150px, 66vw, 60em);
  left: 11%;
  margin-top: -12.6em;
  z-index: 1;
}

.secondDesc {
  margin-top: 3em;
  margin-left: -18em;
  width: 90%;
}

.thirdRow {
  margin-top: 8em;
}

.thirdImg {
  top: -12em;
  right: -5em;
  height: clamp(200px, 44vw, 40em);
  width: clamp(150px, 40vw, 35em);
}

.firstDesc {
  width: 80%;
  height: 22em;
  margin-left: -5em;
  margin-top: 5em;
}

.thirdDesc {
  margin-left: -13.7em;
  width: 97%;
}

.timeline__event:nth-child(odd) {
  flex-direction: row-reverse;
}

.timeline__event:nth-child(odd),
.timeline__event__date:nth-child(odd) {
  border-radius: 0 6px 6px 0;
}

.timeline__event:nth-child(odd),
.timeline__event__content:nth-child(odd) {
  border-radius: 6px 0 0 6px;
}

.titleDiv {
  display: flex;
  flex-direction: column;
}

.projectTitle {
  font-size: 2rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--mainColor);
  letter-spacing: 1.5px;
  text-align: left;
  padding-bottom: 20px;
  position: relative;
  height: 4em;
  left: 17%;
  top: -21%;
}

.modalRow {
  margin-bottom: -10em;
}

/* ------------ lines & dots ------------ */

.timelineContent:nth-child(odd) {
  padding: 20px;
  width: auto;
  color: white;
  position: relative;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.timelineContent:nth-child(odd):before {
  content: '•';
  color: var(--mainColor);
  margin: 0 10px;
  width: 1em;
  height: 1em;
  display: block;
  float: right;
  position: relative;
  top: -22%;
  right: -23.5%;
  font-size: 9em;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.timelineContent:nth-child(odd)::after {
  content: '•';
  color: var(--mainColor);
  margin: 0 10px;
  width: 1em;
  height: 1em;
  display: block;
  float: right;
  position: relative;
  top: 3%;
  right: -23.5%;
  font-size: 9em;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.timelineContent:nth-child(even) {
  margin: -7em 0 0 -5em;
  padding: 8em 5em;
  width: 80%;
  color: white;
  position: relative;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

.timelineContent:nth-child(even)::before {
  content: '•';
  color: var(--mainColor);
  margin: 0 10px;
  width: 1em;
  height: 1em;
  display: block;
  float: right;
  position: relative;
  bottom: 1.86em;
  right: 94.3%;
  font-size: 9em;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.timelineContent:nth-child(even)::after {
  content: '•';
  color: var(--mainColor);
  margin: 0 10px;
  width: 1em;
  height: 1em;
  display: block;
  float: right;
  position: relative;
  bottom: 0.1em;
  right: 94.3%;
  font-size: 9em;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

/* ---------------------------- */

.timelineDescription {
  flex-basis: 60%;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 20px;
  position: relative;
  top: -21%;
  left: 28%;
  color: white;
}

.timelineEvent2::after {
  background-color: black;
}

.timelineEvent2 .timelineEvent2:nth-child(2n + 1) {
  background-color: turquoise;
}

.timelineEvent3::after {
  background-color: orange;
}

/* ------------ RESPONSIVE ---------- */

/* Mobile */
@media only screen and (min-width: 0) and (max-width: 576px) {
  .mainImgDiv {
    width: 100%;
  }
  .mainProjectImg,
  .thirdImg {
    width: 100%;
    left: -2.5em;
    height: auto;
  }

  .secondImg {
    width: 100%;
    left: -3.5em;
    margin: -13em 0 5em 0;
  }
  .timeline__event {
    width: 100%;
    margin-top: 8em;
    margin-left: -2.5em;
    display: block;
  }
  .timelineContent {
    padding: 0;
  }

  .timelineContent:nth-child(even) {
    padding: 10em 2em;
    width: 100%;
  }

  .timelineContent:nth-child(even)::before {
    bottom: 2.1em;
    right: 72%;
  }
  .timelineContent:nth-child(even)::after {
    bottom: -0.1em;
    right: 71%;
  }

  .timelineContent:nth-child(odd)::before {
    top: -1.17em;
    right: -42.5%;
  }
  .timelineContent:nth-child(odd)::after {
    top: -0.8em;
    right: -42.5%;
  }
  .timelineDescription {
    margin-top: -5em;
    padding: 10px;
  }
  .projectTitle {
    width: max-content;
    left: 0%;
    display: inline-block;
    font-size: 20px;
    top: -3em;
  }

  .secondDesc,
  .thirdDesc {
    width: 100%;
  }

  .secondDesc {
    margin-left: -5em;
  }

  .thirdRow {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .thirdDesc {
    margin: -9em 0 0 -10em;
  }
}

/* Tablet */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .projectTitle {
    left: 39%;
    top: -61%;
  }
  .thirdRow {
    display: flex;
    flex-direction: column-reverse;
  }

  .firstDesc {
    width: 100%;
  }
}

/* Desktop */
@media only screen and (min-width: 993px) and (max-width: 7000px) {
}
